.header{
  background-color: #0a3542;
  margin: 5px;
}

.title{
  text-align: center;
  color: #fff;
  font-size: 55px;
  background-color: #0a3542;
  padding-bottom: 0;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  font-family: 'Source Sans Pro';
}

.intro{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  padding-bottom: 1em;
  font-size: 18px;
}

/* DROPDOWN*/

/* Dropdown Button*/
.dropbtn {
    background-color:#72a6b5;
    color: #fff;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 16px;
}
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    left: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #4b9aab;
  color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #0a3542;
    color: white;
}

/* carousel */

#sync1 {
  .item {
    background: #0c83e7;
    padding: 80px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
}

#sync2 {
  .item {
    background: #C9C9C9;
    padding: 10px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    h1 {
      font-size: 18px;
    }
  }
  .current .item{
    background: #0c83e7;
  }
}



.owl-theme {
  .owl-nav {
    /*default owl-theme theme reset .disabled:hover links */
    [class*='owl-'] {
      transition: all .3s ease;
      &.disabled:hover {
       background-color: #D6D6D6;
      }   
    }
    
  }
}

/*arrows on first carousel*/
#sync1.owl-theme {
  position: relative;
  .owl-next .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
  }
  .owl-prev {
    left: 10px;
  }
  .owl-next {
    right: 10px;
  }
}